<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/styles.css">
</head>

<body class="bg-dark text-white">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img class="logo-nav" src="../img/logo.ico" alt='Apple' />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{{#if emptyCart}} disabled{{/if}}" href="/carts">Carrito</a>
        </li>
        {{#if isLoggedIn}}
        <li class="nav-item ">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        {{/if}}
        {{#if user.role}}
        {{#ifEqual user.role "admin"}}
        <li class="nav-item">
            <a class="nav-link green" href="/admin_panel">Panel Administrador</a>
        </li>
        {{/ifEqual}}
        {{/if}}
        <a href="/chat">
            <img src="../img/chat.png" class="WhatsApp" alt="Chat icono" />
        </a>
      </ul>
    </div>
  </div>
</nav>

    {{{ body }}}


    <div id="history"></div>
    <div class="footer">
        <footer class='top'>
            <a href='/'>
                <img src="../img/logo.ico" alt='Apple' />
            </a>            
        </footer>
        </footer>
        <footer class='bottom'>
            <div class='legal'>
                <p>
                    &copy; Javier Omar Rodriguez
                </p>
            </div>
            <section class='iconos-stack links'>
                <img src="../assets/icons/mongodb.png" alt="logo mongodb" />
                <img src="../assets/icons/express.png" alt="logo expressjs" />
                <img src="../assets/icons/reactjs.png" alt="logo reactjs" />
                <img src="../assets/icons/nodejs.png" alt="logo nodejs" />
            </section>
        </footer>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>


</body>

</html>